/* Mobile Style */
@media only screen and (max-width: 600px) {
  .page-tittle-event {
    display: flex;
    justify-content: center;
    margin-right: 1.8%;
  }
  .page-tittle-event p {
    color: #000;
    font-family: "Segoe UI";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 8px;
  }
  .date-style {
    margin-top: 14px;
    color: var(--typo-text-secondary, rgba(0, 0, 0, 0.45));
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .gallery-item {
    border-radius: 8px;
    padding: 16px;
    background: #fff;
    width: 300px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  }

  .gallery-item img {
    height: 193px;
  }

  .gallery-text-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 8px;
  }

  .gallery-text-item-headline {
    color: #000;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.34px;
  }

  .gallery-text-item-deskripsi {
    color: var(--typo-text, var(--Colors-Neutral-Text-colorTextSecondary, rgba(0, 0, 0, 0.65)));
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.084px;
    text-align: left;
  }

  .gallery-text-item-maker {
    color: var(--typo-text-secondary, rgba(0, 0, 0, 0.45));
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .maker-layout {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .maker-layout img {
    width: 16px;
    height: 16px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 41px;
    margin-bottom: 160px;
  }

  .pagination button {
    margin: 0 4px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #000;
    padding: 4px 9px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .pagination button.active {
    background-color: #09588d;
    color: #fff;
    border: 1px solid #000;
    padding: 4px 9px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* Table Style */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .page-tittle-event {
    display: flex;
    justify-content: center;
    margin-right: 1.8%;
  }
  .page-tittle-event p {
    color: #000;
    font-family: "Segoe UI";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 8px;
  }
  .date-style {
    margin-top: 14px;
    color: var(--typo-text-secondary, rgba(0, 0, 0, 0.45));
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .gallery-item {
    border-radius: 8px;
    padding: 16px;
    background: #fff;
    width: 300px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    min-height: 400px;
    display: flex; /* Menjadikan konten dalam item flex */
    flex-direction: column;
  }

  .gallery-item img {
    height: 193px;
    width: 100%;
    object-fit: cover;
  }

  .gallery-text-item {
    display: flex;
    flex-direction: column;
    gap: 0px;
    flex-grow: 1;
  }

  .gallery-text-item-headline {
    color: #000;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.34px;
    width: 270px;
    margin-bottom: 8px;
  }

  .gallery-text-item-deskripsi {
    color: var(--typo-text, var(--Colors-Neutral-Text-colorTextSecondary, rgba(0, 0, 0, 0.65)));
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.084px;
    text-align: left;
    flex-grow: 1;
  }

  .gallery-text-item-maker {
    color: var(--typo-text-secondary, rgba(0, 0, 0, 0.45));
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .maker-layout {
    display: flex;
    flex-direction: row;
  }

  .maker-layout img {
    width: 16px;
    height: 16px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 41px;
    margin-bottom: 160px;
  }

  .pagination button {
    margin: 0 4px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #000;
    padding: 4px 9px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .pagination button.active {
    background-color: #09588d;
    color: #fff;
    border: 1px solid #000;
    padding: 4px 9px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Laptop Style */
@media only screen and (min-width: 1366px) and (max-width: 1920px) {
  .page-tittle-event {
    display: flex;
    justify-content: center;
    margin-right: 1.8%;
  }
  .page-tittle-event p {
    color: #000;
    font-family: "Segoe UI";
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 8px;
  }
  .date-style {
    margin-top: 14px;
    color: var(--typo-text-secondary, rgba(0, 0, 0, 0.45));
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .gallery-item {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 16px;
    background: #fff;
    width: 300px;
    min-height: 424px; /* Atur tinggi minimum item */
    display: flex; /* Menjadikan konten dalam item flex */
    flex-direction: column;
  }

  .gallery-item img {
    height: 193px;
    width: 100%; /* Agar gambar mengisi lebar konten */
    object-fit: cover;
  }

  .gallery-text-item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .gallery-text-item-headline {
    color: #000;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.34px;
    margin-bottom: 8px;
  }

  .gallery-text-item-deskripsi {
    color: var(--typo-text, var(--Colors-Neutral-Text-colorTextSecondary, rgba(0, 0, 0, 0.65)));
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.084px;
    text-align: left;
    flex-grow: 1;
  }

  .gallery-text-item-maker {
    color: var(--typo-text-secondary, rgba(0, 0, 0, 0.45));
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .maker-layout {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .maker-layout img {
    width: 16px;
    height: 16px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 41px;
    margin-bottom: 160px;
  }

  .pagination button {
    margin: 0 4px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #000;
    padding: 4px 9px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .pagination button.active {
    background-color: #09588d;
    color: #fff;
    border: 1px solid #000;
    padding: 4px 9px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1920px) {
  .page-tittle-event {
    display: flex;
    justify-content: center;
    margin-right: 1.8%;
  }
  .page-tittle-event p {
    color: #000;
    font-family: "Segoe UI";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 8px;
  }
  .date-style {
    margin-top: 14px;
    color: var(--typo-text-secondary, rgba(0, 0, 0, 0.45));
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .gallery-item {
    border-radius: 8px;

    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    min-width: 324px;
    min-height: 452px; /* Atur tinggi minimum item */
    display: flex; /* Menjadikan konten dalam item flex */
    flex-direction: column; /* Mengatur konten dalam item agar berada dalam satu kolom */
  }

  .gallery-item img {
    height: 193px;
    width: 292px;
    object-fit: cover;
  }

  .gallery-text-item {
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-grow: 1;
    align-self: stretch;
  }

  .gallery-text-item-headline {
    color: #000;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.34px;
    margin-bottom: 8px;
  }

  .gallery-text-item-deskripsi {
    color: var(--typo-text, var(--Colors-Neutral-Text-colorTextSecondary, rgba(0, 0, 0, 0.65)));
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.084px;
    text-align: left;
    flex-grow: 1;
  }

  .gallery-text-item-maker {
    color: var(--typo-text-secondary, rgba(0, 0, 0, 0.45));
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .maker-layout {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .maker-layout img {
    width: 16px;
    height: 16px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 41px;
    margin-bottom: 160px;
  }

  .pagination button {
    margin: 0 4px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #000;
    padding: 4px 9px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .pagination button.active {
    background-color: #09588d;
    color: #fff;
    border: 1px solid #000;
    padding: 4px 9px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
